<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Jami Gibbs">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
Hello, there. I’m <strong>Jaga Santagostino</strong>. too <strike>lazy</strike> busy to write a worthwhile bio.
        </p>

        <p>
            I'm a software developer and <strong>open source</strong> lover.
        </p>

        <p>
            As a <strong>javascript</strong> stockholm syndrome victim i spend my days learning new thing about the JS ecosystem, sometimes i also teach it as a
            <a href="http://js-girls.org/">js-girls</a> tutor
        </p>

      </div>
        
        <a class="twitter-timeline" href="https://twitter.com/kandros5591" data-widget-id="735947196785393665">Tweet di @kandros5591</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <!--<main>-->
        <!--<h2>Latest Work</h2>-->
        <!--{% for post in site.posts %}-->
          <!--<div class="project-post">-->
            <!--<h3><a href="{{ post.git }}">{{ post.title }}</a></h3>-->
            <!--{{ post.content }}-->
          <!--</div>-->
        <!--{% endfor %}-->
      <!--</main>-->

      <footer>
        <!--<h2>Contact Me</h2>-->

        <!--<p>-->
        <!--Send me an <a href="mailto:jami0821@gmail.com?Subject=Hello,%20Jami!">email</a> or ping me on <a href="https://twitter.com/JamiGibbs">Twitter</a>. I’m also on <a href="https://github.com/jamigibbs">Github</a>, <a href="https://dribbble.com/JamiGibbs">Dribbble</a>, and <a href="https://www.linkedin.com/in/jami-gibbs-731985112-->
<!--">Linkedin</a> if you’re into that sort of thing.-->
        <!--</p>-->

        <p class="copyright">
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
            <br>
            forked by <a href="https://github.com/jamigibbs/portfolio">jami gibbs</a>'s beautiful theme.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <li><a href="https://blog.jagasantagostino.com/"><i class="fa fa-medium"></i></a></li>
      </ul>
    </div>

  </div>

    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67865686-3', 'auto');
        ga('send', 'pageview');

    </script>
    {% endif %}

  </body>
</html>
